{% extends "base.html" %}

{% load static %}

{% block title%}Главная{% endblock title%}

{% block content%}

        <div class="row">
            <!-- <div class="col-md-4 text-center">
                <img src="{% static 'image/Image.png' %}" class="rounded-circle" alt="Profile" width="150">
            </div> -->
            <div class="col-md-8">
                <h1>Главная страница форума</h1>
                <p class="lead">Актуальные темы для обсуждения</p>
                <p>Подключение двигателя по схеме звезда-треугольник</p>
                <p>Правильное параметрирование МПЗ ТОР-200</p>
                <p>Выбор сечения кабеля по номинальной нагрузке</p>
            </div>
        </div>
    </div>
{% endblock content %}